:root {
  // Fonts
  --font-body: 'Cormorant Garamond', serif;
  --font-dropcap: 'Grusskarten Gotisch';

  --sans-serif: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;

  --font-size-body: clamp(1rem, 5vw, 1.5rem);
  --font-smaller: calc(var(--font-size-body) * 0.7);
  --font-small: calc(var(--font-size-body) * 0.9);
  --font-large: calc(var(--font-size-body) * 1.2);

  // Colors
  --page-color: oklch(0.9864 0.024 96.56);
  --text-color: black;
  --accent: #575757;
  --accent2: rgba(120, 90, 40, 0.13);
  --gold: #bfa76a;
  --ink: #6b4c1b;
  --highlight: #f9eec7;
}