:root {
  // Fonts
  --font-body: 'Cormorant Garamond', 'Cormorant Garamond Fallback';
  --font-dropcap: 'Grusskarten Gotisch';

  --font-size-body: clamp(1rem, 5vw, 1.5rem);
  --font-smaller: calc(var(--font-size-body) * 0.7);
  --font-small: calc(var(--font-size-body) * 0.9);
  --font-large: calc(var(--font-size-body) * 1.2);

  // Colors
  --page-color: oklch(0.9864 0.024 96.56);
  --text-color: oklch(0 0 0);
  --accent: oklch(0.4568 0 0);
  --accent2: oklch(0.4881 0.0775 77.93 / 13%);
  --gold: oklch(0.7355 0.0845 88.79);
  --ink: oklch(0.4404 0.0768 75.48);
  --highlight: oklch(0.948 0.0521 94.1);
}