/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-padding-top: 2dvh;
}

body {
  min-height: 100vh;
}

img {
  /* Make images responsive */
  max-width: 100%;
}

/* Add the correct font weight in Chrome, Edge, and Safari */
b,
strong {
  font-weight: bolder;
}

// Print styles
@media print {
  body {
    // Adds blank page otherwise
    min-height: unset;
  }
}