.sans-serif {
  font-family: var(--sans-serif);
}

.font-monospace {
  font-family: var(--font-monospace);
}

.box-shadow {
  box-shadow: 0 2px 8px var(--accent);
  border-radius: 4px;
  border-width: 0;
}

.focus-outline {
  &:focus-visible {
    outline: 1px solid currentColor;
  }
}

.border {
  border: 1px solid currentColor;
  border-radius: 4px;
}

.small-caps {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}