.card {

  // Border
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  p {
    text-align: justify;
  }
}

.card-header {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.card-header img {
  max-width: 60px;
  height: auto;
}

.title-author {
  flex: 1 1 auto;
  min-width: 0;
}

.title {
  font-size: 1.75rem;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: lowercase;

}

.author {
  font-variant: small-caps;
  font-size: 1.25rem;
  text-transform: lowercase;
}

.blurb {
  flex: 1;
}

.submitter {
  font-variant: small-caps;
  text-transform: lowercase;
}

// Screen-only styles
@media screen {
  [contenteditable]:empty::before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none;
    display: block;
  }
}

// Print styles
@media print {
  .card {
    --print-size: 15.25px;
    --title-size: 1.5;
    --letter-spacing: calc((var(--print-size) * 0.1));
    // Layout
    height: 2.5in;
    width: 5in;
    overflow: hidden;
    padding: 10px;
    // Typography
    font-size: var(--print-size);

    .title {
      letter-spacing: var(--letter-spacing);
    }

    .author {
      font-size: calc(var(--print-size) * 1.25);
      letter-spacing: var(--letter-spacing);
    }

    p {
      margin: calc(var(--print-size) * 0.75) 0;
    }

    .submitter {
      letter-spacing: var(--letter-spacing);
    }
  }

  .title {
    font-size: calc(var(--print-size) * var(--title-size));
  }
}