.card {
  --base-font: 13.5px;
  --title-size: 1.5;
  --letter-spacing: calc((var(--base-font) * 0.1));

  // Border
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  // Typography
  text-align: justify;
}

.title {
  font-size: 1.75rem;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: lowercase;
  letter-spacing: var(--letter-spacing);
}

.author {
  font-variant: small-caps;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: var(--letter-spacing);
}

.blurb {
  flex: 1;
}

.submitter {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: var(--letter-spacing);
}

// Screen-only styles
@media screen {
  [contenteditable]:empty::before {
    content: attr(data-placeholder);
    color: #888;
    pointer-events: none;
    display: block;
  }
}

// Print styles
@media print {
  .card {
    // Layout
    height: 2.25in;
    width: 5in;
    overflow: hidden;
    padding: 10px;
    // Typography
    font-size: var(--base-font);

    .author {
      font-size: calc(var(--base-font) * 1.25);
    }

    p {
      margin: calc(var(--base-font) * 0.75) 0;
      text-align: justify;
    }
  }

  .title {
    font-size: calc(var(--base-font) * var(--title-size));
  }
}