.card {
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  text-align: justify;
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: 700;
  text-transform: lowercase;
}

.author {
  font-variant: small-caps;
  text-transform: lowercase;
}

.submitter {
  font-variant: small-caps;
  text-transform: lowercase;
}

@media print {
  .card {
    --base-font: 14px;
    --title-size: 1.5;
    // Layout
    height: 2.25in;
    width: 5in;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // Typography
    font-size: var(--base-font);
    text-align: justify;
  }

  .title {
    font-size: calc(var(--base-font) * var(--title-size));
  }
}