:root {
  // Fonts
  --font-body: 'Iowan Old Style',
    'Palatino Linotype',
    'URW Palladio L',
    P052,
    serif;
  --font-size-body: clamp(1rem, 5vw, 1.25rem);

  // Colors
  --text-color: black;
  --accent: #575757;
}