.control-box {
  display: grid;
  gap: 2rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* center the modal */
  z-index: 1000;
  background: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 2rem 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 20rem;
}

button {
  width: 100%;
  padding: 0.5rem 0;
  font-variant: small-caps;
  text-transform: lowercase;
}

.hidden {
  display: none !important;
}