@font-face {
  font-family: "Computer Modern";
  src:
    url("/fonts/subset-CMUSerif-Roman.woff2") format("woff2"),
    url('/fonts/subset-CMUSerif-Roman.woff') format('woff');
  font-weight: 400;
  /* Normal weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern";
  src:
    url("/fonts/subset-CMUSerif-Bold.woff2") format("woff2"),
    url('/fonts/subset-CMUSerif-Bold.woff') format('woff');
  font-weight: 700;
  /* Bold weight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern";
  src:
    url("/fonts/subset-CMUSerif-Italic.woff2") format("woff2"),
    url('/fonts/subset-CMUSerif-Italic.woff') format('woff');
  font-weight: 400;
  /* Normal weight */
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern";
  src:
    url("/fonts/subset-CMUSerif-BoldItalic.woff2") format("woff2"),
    url('/fonts/subset-CMUSerif-BoldItalic.woff') format('woff');
  font-weight: 700;
  /* Bold weight */
  font-style: italic;
  font-display: swap;
}

strong,
b {
  font-weight: 700;
  /* Browser knows to use the bold variation */
}

em,
i {
  font-style: italic;
  /* Browser knows to use the italic variation */
}

strong em,
b i {
  font-weight: 700;
  font-style: italic;
  /* Browser combines bold + italic variation */
}