@use 'fonts';
@use 'reset';
@use 'config';
@use 'utils';
@use 'print';

html {
  font-size: 16px;
}

body {
  font-family: var(--font-body);
  font-weight: normal;
  font-size: var(--font-size-body);

  // Screen styles
  @media screen {
    margin: 0 auto;
    padding: 1rem;
  }
}

nav {
  @extend .sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 2em;
  text-align: center;

  letter-spacing: 0.075em;
}

h2 {
  font-weight: 400;
  font-style: italic;
  text-align: right;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 0.25rem;
}

a,
.a {
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
  letter-spacing: 0.07em;
  color: currentColor;
  border-radius: 4px;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.1em;
  }

  &:focus-visible {
    outline: 1px solid currentColor;
  }
}

kbd,
code {
  font-family: inherit;
  font-weight: 700;
}

button.default {
  @extend .border;
  @extend .focus-outline;
  @extend .sans-serif;
  @extend .small-caps;
  padding: 0.5em 0.75em;
  background-color: var(--accent);
  font-size: inherit;
  color: white;
  transition: background 0.2s ease;

  &:hover,
  &:focus {
    background-color: transparent;
    color: var(--text-color);
  }
}

input,
textarea {
  @extend .border;
  @extend .focus-outline;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em;
}

label {
  @extend .sans-serif;
  font-weight: 700;
  font-size: var(--font-small);
}

fieldset {
  @extend .border;
  display: grid;
  gap: 2rem;

  &>div {
    display: grid;
    gap: 0.5em;
  }
}

legend {
  font-size: var(--font-small);
  font-family: var(--sans-serif);
  letter-spacing: 0.2em;

  padding: 2em 0.5em;
}