@use "fonts";
@use "reset";

html {
  font-size: clamp(16px, 2vw, 20px);
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-body);

  // Screen styles
  @media screen {
    margin: 0 auto;
    padding: 1rem;
  }
}

h1 {
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-weight: 400;
  font-style: italic;
  text-align: right;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 0.25rem;
}

a, .a{
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
  }
}

kbd,
code {
  font-family: inherit;
  font-weight: 700;
}