@use "fonts";

html {
  font-size: clamp(16px, 2vw, 20px);
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size-body);

  // Screen styles
  @media screen {
    margin: 0 auto;
    padding: 1rem;
  }
}

h1 {
  text-align: center;
  font-variant: small-caps;

}

a {
  font-variant: small-caps;
  text-transform: lowercase;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
  }
}

kbd {
  font-family: inherit;
  font-weight: 700;
}