.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.instructions {
  text-align: center;
  margin-bottom: 4rem;
}

button, .button {
  padding: 0.5rem 0.75rem;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  background: #333;
  color: white;
  border-radius: 4px;
  border-style: none;
  transition: background 0.2s ease;

  &:hover, &:focus {
    background: #555;
  }

  // Style as link
  &.a {
    background: none;
    border: none;
    padding: 0;
  }
}

// Print styles
@media print {

  body,
  main,
  .card-container {
    margin: 0;
  }

  header,
  footer,
  .instructions {
    display: none;
  }

  @page {
    size: landscape;
    margin-top: 0.5in;
    margin-bottom: 0;
    margin-left: 0.5in;
    margin-right: 0.5in;
  }
}