.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  // Center
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media print {

  h1,
  form {
    display: none;
  }

  .card-container {
    gap: 0;
  }

  @page {
    size: landscape;
    // Setting by shorthand, didn't work, fyi
    margin-top: 0.88in;
    margin-bottom: 0in;
    margin-left: 0.5in;
    margin-right: 0.5in;
    border: 1px solid black;
  }
}