.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.instructions {
  text-align: center;
  margin-bottom: 4rem;
}

button {
  padding: 0.25rem 0.75rem;
  font-variant: small-caps;
  text-transform: lowercase;

  // Style as link
  &.a {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
  }
}

// Print styles
@media print {

  body,
  main,
  .card-container {
    margin: 0;
  }

  header,
  footer,
  .instructions {
    display: none;
  }

  @page {
    size: landscape;
    margin-top: 0.5in;
    margin-bottom: 0;
    margin-left: 0.5in;
    margin-right: 0.5in;
  }
}