---
import Base from "@/layouts/Base.astro";
import SideBar from "@/components/HelpSidebar.astro";
import HelpTocMobile from "@/components/HelpTocMobile.astro";

const description = "Help and tips for using the Shelf Talkers app.";
---

<Base pageTitle="Help" description={description} prefetch="">
  <header>
    <nav>
      <a class="home" href="/"
        >Home</a
      >
    </nav>
    <h1>Help</h1>
  </header>

  <main id="main">
    <HelpTocMobile />
    <SideBar />
    <div class="content">
      <section class="intro">
        <p>
          Hi, I’m <a href="https://samfeldstein.xyz"
            ><strong>Sam Feldstein</strong></a
          >. I’m an amateur web developer and a bookseller at <a
            href="https://compositionshop.com/"
          >
            Composition Shop</a
          > in Longmont, CO.
        </p>

        <p>
          I built this app partly to be helpful, but mostly for practice. It’s
          pretty simple, and offers some customization, but if you want full
          control over your shelf-talker, you’re better off using graphic design
          software like
          <a href="https://www.canva.com/">Canva</a> or <a
            href="https://www.figma.com">Figma</a
          >.
        </p>

        <p>
          If you have questions or feedback, just <a
            href="mailto:samfeldstein@pm.me">shoot me an email</a
          >.
        </p>
      </section>

      <section id="basics">
        <h2>Basics</h2>
        <p>
          This app is easier to use on a desktop, but it should work fine on
          your smartphone.
        </p>

        <p>
          <strong
            >Card sizes on the webpage do not correlate to card sizes on the
            printed page.</strong
          > That’s because the card sizes on the webpage morph to fit different screens.
        </p>

        <p>
          Any changes you make are stored automatically in the browser, so you
          can pick up where you left off.
        </p>

        <p>
          Hit <kbd>Cmd/Ctrl + P</kbd> to print, or click <b>Print</b>.
        </p>
      </section>

      <section id="font">
        <h2>Font</h2>
        <p>
          Enter the name of any font installed on your device, or pick one from <a
            href="https://fonts.google.com/">Google Fonts</a
          >. Once you’ve entered a name, the font will automatically apply to
          your talkers.
        </p>
      </section>

      <section id="logo">
        <h2>Logo</h2>
        <p>
          By default, the logo will take up as much space as it needs and no
          more. There are no fancy rules in place to warn you if the logo is too
          big and bleeding off the card, so it’s on you to notice if that’s
          happening. The preview card should make this issue easy to avoid.
        </p>
        <p>
          If you add a logo but it doesn’t appear the next time you open the
          app, it’s probably because the image file is too big. Most browsers
          won’t let you store a file bigger than 5 MB. Your logo file probably
          isn’t bigger than that, but if it is, you can always <a
            href="https://squoosh.app/">Squoosh</a
          > it.
        </p>
      </section>

      <section id="print">
        <h2>Print</h2>
        <p>
          Printing should work fine out of the box, but if anything looks funny,
          check the following:
        </p>
        <ul>
          <li>Set the page orientation to <b>Landscape</b></li>
          <li>Hide headers and footers</li>
          <li>Set margins to <b>Default</b></li>
        </ul>

        <p>
          The app will not tell you if your cards are too big for the page, or
          if a card’s content is overflowing its borders, or anything like that.
          Make sure you preview the printed page before you print.
        </p>
      </section>

      <section id="privacy">
        <h2>Privacy</h2>
        <p>
          This app’s code is <a
            href="https://github.com/samfeldstein/shelf-talkers">open source</a
          >, meaning you can see everything that’s going on under the hood.
        </p>

        <p>
          Your shelf-talker data is stored in your browser. Nobody can see it
          except you.
        </p>

        <p>
          The app loads fonts with Google Fonts, which can expose your IP
          address and other information to Google. This may be a concern for
          some people.
        </p>
      </section>

      <section id="credits">
        <h2>Credits</h2>
        <ul>
          <li>
            <a href="https://fonts.google.com/specimen/Cormorant+Garamond"
              >Cormorant Garamond</a
            > font by Christian Thalmann
          </li>
          <li>
            <a href="https://www.1001fonts.com/grusskarten-gotisch-font.html"
              >Grusskarten Gotisch</a
            > font by Typographer Mediengestaltung
          </li>
          <li>
            Arrow icons by <a href="https://fontawesome.com">Font Awesome</a>
          </li>
          <li>Hosted by <a href="https://cloudflare.com">Cloudflare</a></li>
          <li>
            Built with <a href="https://astro.build">Astro</a> and <a
              href="https://vuejs.org">Vue</a
            >
          </li>
        </ul>
      </section>
    </div>
  </main>
</Base>

<style lang="scss">
  @use "@/styles/utils";
  nav {
    font-size: var(--font-smaller);
  }

  a.home {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }

  svg {
    width: 0.75em;
  }

  h1 {
    text-align: center;
  }

  h2 {
    margin-top: 3em;
  }

  main {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 8rem;

    a {
      @extend .small-caps, .inline;
    }

    ul {
      display: grid;
      gap: 0.5em;
      list-style-type: circle;
    }
  }

  .content {
    max-width: 50rem;
    flex: 5;

    // Line up with nav top
    p:first-of-type {
      margin-top: 0;
    }
  }
</style>
