---
import Base from "../layouts/Base.astro";
import "../styles/help.scss";
---

<Base pageTitle="Help">
  <header>
    <nav><a href="/">Home</a></nav>
    <h1>Help</h1>
  </header>
  <main>
    If you have questions, email me at <a href="mailto:sam@samfeldstein.xyz"
      >sam@samfeldstein.xyz</a
    >.

    <section>
      <h2 id="fonts">Adding fonts</h2>
      <ul>
        <li>Go to <a href="https://fonts.google.com/">Google Fonts</a></li>
        <li>Click on a font</li>
        <li>Click <strong>Get Font</strong> (upper right)</li>
        <li>Delete any fonts you don't need</li>
        <li>Click <strong>Get embed code</strong> (right)</li>
        <li>Make sure you only have <strong>one font selected</strong></li>
        <li>
          On the right, in <strong>Web</strong> tab, you'll see <strong
            >Embed code in the <code>&lt;/head&gt;</code>
            of your html</strong
          >
        </li>
        <li>Click <strong>Copy code</strong></li>
        <li>Come back to this website</li>
        <li>Click <strong>Change font</strong></li>
        <li>Paste the code inside</li>
        <li>Hit <kbd>Enter</kbd></li>
      </ul>
    </section>
  </main>
</Base>
