---
import Base from "../layouts/Base.astro";
import "../styles/help.scss";
---

<Base pageTitle="Help">
  <header>
    <nav><a href="/">Home</a></nav>
    <h1>Help</h1>
  </header>
  <main>
    If you have questions, email me at <a href="mailto:sam@samfeldstein.xyz"
      >sam@samfeldstein.xyz</a
    >.
  </main>
</Base>
