---
import Base from "../layouts/Base.astro";
import "../styles/help.scss";
---

<Base pageTitle="Help" prefetch="">
  <header>
    <nav><a href="/">Home</a></nav>
    <h1>Help</h1>
  </header>
  <main>
    <section>
      <h2 id="basics">Basic usage</h2>
      <p>
        Just click on any of the fields to edit. <kbd>CmdP</kbd> to print on Mac.
        <kbd>CtrlP</kbd> on Windows.
      </p>

      <p>
        <strong
          >Card sizes on the webpage do not correlate to card sizes on the
          printed page.</strong
        > That's because the card sizes on the webpage morph to fit different screens.
        Make sure you preview the printed page before you print.
      </p>
      <p>
        Any changes you make are stored automatically in the browser, so you can pick up where you left
        off. Nobody can see your data except you.
      </p>

      <p>
        If you have questions, email me at <a href="mailto:sam@samfeldstein.xyz"
          >sam@samfeldstein.xyz</a
        >.
      </p>
    </section>

    <section>
      <h2 id="changeFont">Change font</h2>
      <ul>
        <li>Go to <a href="https://fonts.google.com/">Google Fonts</a></li>
        <li>Click on a font</li>
        <li>Click <strong>Get Font</strong> (upper right)</li>
        <li>Delete any fonts you don't need</li>
        <li>Click <strong>Get embed code</strong> (right)</li>
        <li>Make sure you only have <strong>one font selected</strong></li>
        <li>
          In the <strong>Web</strong> tab (right), you'll see <strong
            >Embed code in the <code>&lt;/head&gt;</code>
            of your html</strong
          >
        </li>
        <li>Click <strong>Copy code</strong></li>
        <li>Come back to this website</li>
        <li>Click <strong>Options, Change font</strong></li>
        <li>Paste the code inside the text box</li>
        <li>Hit <kbd>Enter</kbd></li>
      </ul>
    </section>

    <section>
      <h2 id="fontSize">Change font size</h2>
      <ul>
        <li>Click <strong>Options, Change font size</strong></li>
        <li>Enter a number (units are pixels)</li>
        <li>Hit <strong>Enter</strong></li>
      </ul>

      <p>
        This does not affect the font size of the webpage. Only of the print
        page.
      </p>
    </section>

    <section>
      <h2 id="logo">Change logo</h2>
      <ul>
        <li>Click <strong>Options, Change logo</strong></li>
        <li>Click <strong>Choose image file</strong></li>
        <li>Select an image</li>
      </ul>

      <p>
        Try to keep the image less than 70px tall. Anything bigger will push the
        text down.
      </p>
    </section>

    <section>
      <h2 id="privacy">Privacy</h2>
      <p>Your data is stored in your browser. Nobody can see it except you.</p>
    </section>
  </main>
</Base>
