---
import Base from "@/layouts/Base.astro";
import CardContainer from "@/components/CardContainer.vue";
import Controls from "@/components/Controls.astro";

import "@/styles/_home.scss";
---

<Base pageTitle="Home" prefetch="help">
	<header class="page no-print">
		<nav>
			<a href="/help">Help</a>
		</nav>
		<h1>Shelf Talker Generator</h1>
	</header>
	<main id="main">
		<Controls />
		<CardContainer client:only="vue" />
	</main>
</Base>
