---
import Base from "@/layouts/Base.astro";
import CardContainer from "@/components/CardContainer.vue";
import Controls from "@/components/Controls.astro";

import "@/styles/_home.scss";
---

<Base pageTitle="Shelf Talkers" prefetch="help">
	<main id="main">
		<Controls />
		<CardContainer client:only="vue" />
	</main>
</Base>
