---
import CardContainer from "../components/CardContainer.astro";
// Styles
import "../styles/reset.scss";
import "../styles/config.scss";
import "../styles/global.scss";

const siteTitle = "Shelf Talker Generator";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{siteTitle}</title>
	</head>
	<body>
		<header>
			<h1>{siteTitle}</h1>
		</header>
		<main>
			<p class="instructions">
				Click any text to edit. <kbd>CmdP</kbd> to print on Mac. <kbd>CtrlP</kbd
				> on Windows.
			</p>
			<CardContainer />
		</main>
	</body>
</html>

<script src="../scripts/load.js"></script>
<script src="../scripts/save.js"></script>
