---
// Layout
import Base from "../layouts/Base.astro";

// Components
import CardContainer from "../components/CardContainer.astro";
import Options from "../components/Options.astro";

// Styles
import "../styles/home.scss";
---

<Base pageTitle="Home">
	<header>
		<div class="menu">
			<Options />
			<nav>
				<a href="/help">Help</a>
			</nav>
		</div>
		<h1>Shelf Talker Generator</h1>
	</header>
	<main>
		<p class="instructions">
			Click any field to edit. <kbd>CmdP</kbd> to print on Mac. <kbd>CtrlP</kbd>
			on Windows.
		</p>
	</main>
	<CardContainer />
</Base>
