---
import Base from "../layouts/Base.astro";
import CustomFonts from "../components/CustomFonts.astro";
import FontSize from "../components/FontSize.astro";
import CardContainer from "../components/CardContainer.astro";
import "../styles/home.scss";
---

<Base pageTitle="Home">
	<header>
		<nav><a href="/help">Help</a></nav>
		<h1>Shelf Talker Generator</h1>
	</header>
	<main>
		<p class="instructions">
			Click any field to edit. <kbd>CmdP</kbd> to print on Mac. <kbd>CtrlP</kbd>
			on Windows.
		</p>

		<div class="font-controls">
			<CustomFonts />
			<FontSize />
		</div>
		<CardContainer />
	</main>
</Base>
<script src="../scripts/load.js"></script>
<script src="../scripts/save.js"></script>
<script src="../scripts/markdown.js"></script>
