---
import Base from "@/layouts/Base.astro";
import CardContainer from "@/components/CardContainer.vue";
import Controls from "@/components/Controls.astro";

import "@/styles/_home.scss";
---

<Base pageTitle="Shelf Talkers" prefetch="help">
	<header class="no-print">
		<hgroup>
			<p>
				<span>an app by</span>
				<a class="name" href="https://samfeldstein.xyz">Sam Feldstein ☞</a>
			</p>
			<h1>Shelf<br />Talkers</h1>
		</hgroup>
	</header>
	<main id="main">
		<Controls />
		<CardContainer client:only="vue" />
	</main>
</Base>

<style lang="scss">
	
	hgroup p {
		width: 100%;
		display: flex;
		justify-content: space-between;

		margin: 0;

		font-size: var(--font-smaller);
		text-transform: lowercase;
	}

	h1 {
		text-wrap: nowrap;
		line-height: 1;

		width: 100%;
		max-width: 90rem; // Match controls
		margin: 0.5em auto;

		&::first-letter {
			font-family: var(--font-dropcap);
			font-size: 2.25em;
			float: left;
		}
	}
</style>
