---
import Form from "../components/Form.astro";
import Card from "../components/Card.astro";
// Styles
import "../styles/home.scss";
import "../styles/print.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Book Shelf Talker Generator</title>
	</head>
	<body>
		<main>
			<h1>Book Shelf Talker Generator</h1>
			<!-- <Form/> -->
			<div class="card-container" id="card-container">
				<Card />
				<Card />
				<Card />
				<Card />
				<Card />
				<Card />
			</div>
		</main>
	</body>
</html>
