---
import "../styles/card.scss";

const { title, author, blurb, submitter } = Astro.props;
---

<div class="card">
  <div class="card-header">
    <!-- Using set:html gets around placeholder issue. If props in div body, placeholder's don't work. -->
    <div
      class="title"
      contenteditable="true"
      data-placeholder="Title"
      set:html={title}
    />
    <div
      class="author"
      contenteditable="true"
      data-placeholder="Author"
      set:html={author}
    />
  </div>
  <p
    class="blurb"
    contenteditable="true"
    data-placeholder="Blurb..."
    set:html={blurb}
  />
  <div
    class="submitter"
    contenteditable="true"
    data-placeholder="Submitted by..."
    set:html={submitter}
  />
</div>
