---
import Card from "../components/Card.astro";
import "../styles/card-container.scss";

const title = "The Buffalo Hunter Hunter";
const author = "Stephen Graham Jones";
const blurb =
  "Stephen Graham Jones has lit a slow-burning candle that grows into a forest fire, illuminating the life of a Pikuni vampire and everyone he has touched, the pain of being a victim and perpetrator of violent history, and how memory serves to keep us who we are despite it all. The Buffalo Hunter Hunter is beautiful, terrifying, sad, funny, and grotesque — everything I want in a novel.";
const submitter = "Jessica Johns, author of <em>Bad Cree</em>";
---

<div class="card-container" id="cardContainer">
  <Card title={title} author={author} blurb={blurb} submitter={submitter} />
  <Card />
  <Card />
  <Card />
  <Card />
  <Card />
</div>

<script src="../scripts/loadCards.js"></script>
<script src="../scripts/saveCards.js"></script>