---
import Card from "../components/Card.astro";
import "../styles/card-container.scss";

const title = "The Buffalo Hunter Hunter";
const author = "Stephen Graham Jones";
const blurb =
  "A master at blending horror, suspense, and culturally rich stories that are as thought-provoking as they are spine-tingling. Jones’s singular voice and exploration of identity, of trauma and survival, make every page pulse with kinetic urgency.";
const submitter = "David Robertson, author of <em>The Theory of Crows</em>";
---

<div class="card-container" id="card-container">
  <Card title={title} author={author} blurb={blurb} submitter={submitter} />
  <Card />
  <Card />
  <Card />
  <Card />
  <Card />
</div>
