---
import Card from "../components/Card.astro";
import "../styles/card-container.scss";

const title = "The Shining";
const author = "Stephen King";
const blurb = "Blurb";
const submitter = "Sam Feldstein";
---

<div class="card-container" id="card-container">
  <Card title={title} author={author} blurb={blurb} submitter={submitter} />
  <Card />
  <Card />
  <Card />
  <Card />
  <Card />
</div>
