---
import Card from "../components/Card.astro";
import "../styles/card-container.scss";

const title = "The Shining";
const author = "Stephen King";
const blurb =
  "Jack Torrance's new job at the Overlook Hotel is the perfect chance for a fresh start. As the off-season caretaker at the atmospheric old hotel, he'll have plenty of time to spend reconnecting with his family and working on his writing. But as the harsh winter weather sets in, the idyllic location feels ever more remote...and more sinister.";
const submitter = "Sam Feldstein, Composition Shop, Longmont, CO";
---

<div class="card-container" id="card-container">
  <Card title={title} author={author} blurb={blurb} submitter={submitter} />
  <Card />
  <Card />
  <Card />
  <Card />
  <Card />
</div>
