---
import "../styles/card.scss";

const { title, author, blurb, submitter } = Astro.props;
---

<div class="card">
  <div class="card-header">
    <div class="title" contenteditable="true">{title}</div>
    <div class="author" contenteditable="true">{author}</div>
  </div>
  <p class="blurb" contenteditable="true">{blurb}</p>
  <div class="submitter" contenteditable="true">{submitter}</div>
</div>
