---
import OptionsBox from "./OptionsBox.astro";
---

<OptionsBox
  buttonId="showClear"
  buttonLabel="Clear Cards"
  divId="clearButtonDiv"
>
  <div>
    <button id="clearSome">Clear Some Cards</button>
    <button id="clearAll">Clear All Cards</button>
  </div>

  <button class="done">Done</button>
</OptionsBox>
