---
import OptionsBox from "./OptionsBox.astro";
---

<OptionsBox
  buttonId="showClear"
  buttonLabel="Clear Cards"
  divId="clearButtonDiv"
>
  <div>
    <button id="clearAll">Confirm</button>
  </div>

  <button class="done">Done</button>
</OptionsBox>

<script src="../scripts/options/clear.js"></script>
