---
import CreateCardForm from "./CreateCardForm.vue";
import ClearCards from "./ClearCards.vue";
import Print from "./Print.vue";

import Options from "./Options.astro";
---

<section class="controls no-print">
  <fieldset>
    <CreateCardForm client:load />
    <Options />
    <ClearCards client:load />
    <Print client:load />
    <a href="/help" class="button default">Help</a>
  </fieldset>
</section>

<style>
  section {
    margin: 0 auto 6rem auto;
    max-width: 90rem;
  }

  fieldset {
    border: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
  }

  button, .button {
    flex: 1;
  }

  .button {
    text-align: center;
  }
</style>
