---
import CreateCardForm from "./CreateCardForm.vue";
import ClearCards from "./ClearCards.vue";
// import Options from "./Options.vue";
import Options from "./Options.astro";
import Print from "./Print.vue";
---

<section id="controls" class="no-print">
  <CreateCardForm client:load />
  <!-- <Options client:load /> -->
  <Options />
  <ClearCards client:load />
  <Print client:load />
</section>

<style>
  section {
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
  }
</style>
