---
import CreateCardForm from "./CreateCardForm.vue";
import ClearCards from "./ClearCards.vue";
import Print from "./Print.vue";

import Options from "./Options.astro";
---

<section class="controls no-print">
  <CreateCardForm client:load />
  <Options />
  <ClearCards client:load />
  <Print client:load />
</section>

<style>
  section {
    margin: 2rem auto 4rem auto;
    max-width: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
  }

  section button {
    flex: 1;
    text-wrap: nowrap;
  }
</style>
