---
import CreateCardForm from "./CreateCardForm.vue";
import ClearCards from "./ClearCards.vue";
import Options from "./Options.vue";
---

<section id="controls" class="no-print">
  <CreateCardForm client:only="vue" />
  <Options client:only="vue" />
  <ClearCards client:only="vue" />
</section>

<style>
  section {
    margin: 4rem 0;
    text-align: center;
  }
</style>
