---
import CreateCardForm from "./CreateCardForm.vue";
import ClearCards from "./ClearCards.vue";
import Print from "./Print.vue";

import Options from "./Options.astro";
---

<section class="controls no-print">
  <fieldset>
    <legend>Controls</legend>
    <CreateCardForm client:load />
    <Options />
    <ClearCards client:load />
    <Print client:load />
  </fieldset>
</section>

<style>
  section {
    margin: 2rem auto 4rem auto;
    max-width: 50rem;
  }

  fieldset {
    padding: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
  }

  button {
    flex: 1;
  }
</style>
