---
import CreateCardForm from "./CreateCardForm.vue";
import ClearCards from "./ClearCards.vue";
---

<section id="controls">
  <CreateCardForm client:only="vue" />
  <ClearCards client:only="vue"/>
</section>

<style>
  section {
    margin: 4rem 0;
    text-align: center;
  }
</style>
