---
import OptionsBox from "./OptionsBox.astro";
---

<OptionsBox
  buttonId="customFontBtn"
  divId="customFontDiv"
  buttonLabel="Change font"
>
  <div>
    <label for="fontLinkInput">
      Paste your Google Fonts code below. For help, see
      <a href="/help#changeFont">Adding fonts</a>.
    </label>
    <textarea
      id="fontLinkInput"
      rows="3"
      cols="60"
      placeholder='<link href="https://fonts.googleapis.com/css2?family=..." rel="stylesheet">'
    ></textarea>
  </div>
  <button class="done">Done</button>
</OptionsBox>

<script src="../scripts/font/customFont.js"></script>
