---
import FontFamily from "./FontFamily.vue";
import FontSize from "./FontSize.vue";
---

<fieldset class="default">
  <legend>Font</legend>
  <p>Sized in pixels</p>
  <!-- Printed font reverts on page load otherwise -->
  <FontFamily client:only="vue" />
  <FontSize client:only="vue" />
</fieldset>

<style scoped>
  p {
    font-size: var(--font-smaller);
    font-style: italic;
    text-align: center;
  }
</style>
