<footer class="no-print">
  <p>
    Made by <a href="https://samfeldstein.xyz/">Sam Feldstein</a>. Powered by <a
      href="https://astro.build">Astro</a
    > and <a href="https://vuejs.org">Vue</a>.
  </p>
</footer>

<style>
  footer {
    text-align: center;
    font-family: var(--sans-serif);
    font-size: var(--font-small);

    margin-top: 6rem;
  }

  p {
    text-wrap: pretty;
  }
</style>
