<footer class="no-print">
  <p>
    Powered by <a href="https://astro.build">Astro</a> and <a
      href="https://vuejs.org">Vue</a
    >.
  </p>
</footer>

<style lang="scss">
  @use "@/styles/utils";
  footer {
    text-align: center;
    font-family: var(--sans-serif);
    font-size: var(--font-smaller);

    margin-top: 6rem;
  }

  p {
    margin: 0;

    text-wrap: pretty;
  }

  a {
    @extend .small-caps, .inline;
  }
</style>
