---
const { title } = Astro.props;
---

<header class="page no-print">
  <nav><a href="/">Home</a><a href="/help">Help</a></nav>
  <h1>{title}</h1>
</header>

<style lang="scss">
  @use "@/styles/utils";

  header {
    text-align: center;
    margin-bottom: 6rem;
  }
  
  nav {
    @extend .sans-serif;
    font-size: var(--font-small);
    margin-bottom: 0.5rem;
  }

  a + a {
    margin-left: 1em;
  }
</style>
