<nav>
  <div>
    <a href="#basics">Basics</a>
    <a href="#font">Font</a>
  </div>
  <div>
    <a href="#print">Print</a>
    <a href="#privacy">Privacy</a>
  </div>
</nav>

<style lang="scss">
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    border: 1px solid;
    padding: 1em;
    width: 100%;

    text-wrap: nowrap;

    @media screen and (min-width: 801px) {
      display: none;
    }
  }

  div {
    display: grid;
    gap: 1em;
    grid-auto-rows: max-content;
  }
</style>
