---
// Components
import OptionsBox from "./OptionsBox.astro";
---

<OptionsBox
  buttonId="changeLogoButton"
  buttonLabel="Change logo"
  divId="changeLogoDiv"
>
  <div>
    <p>Upload your image file. Must not be taller than 70px.</p>
    <input type="file" id="logoUpload" accept="image/*" hidden />
    <label for="logoUpload" class="button">Choose image file</label>
  </div>

  <button class="done">Done</button>
</OptionsBox>

<script src="../scripts/logo/main.js"></script>
