---
// Components
import OptionsBox from "./OptionsBox.astro";

// Styles
import "../styles/logo-input.scss";
---

<OptionsBox
  buttonId="changeLogoButton"
  buttonLabel="Change logo"
  divId="changeLogoDiv"
>
  <input type="file" id="logoUpload" accept="image/*" hidden />
  <label for="logoUpload" class="button">Choose image file</label>
</OptionsBox>

<script src="../scripts/logo/main.js"></script>
