---
// Components
import OptionsBox from "./OptionsBox.astro";

// Styles
import "../styles/logo.scss";
---

<OptionsBox
  buttonId="changeLogoButton"
  buttonLabel="Change logo"
  divId="changeLogoDiv"
>
  <div>
    <p>
      Upload your image file. Must not be taller than 70px. For help, see <a
        href="/help#logo">Change logo</a
      >.
    </p>
    <input type="file" id="logoUpload" accept="image/*" hidden />
    <label for="logoUpload" class="button">Choose image file</label>
  </div>
  <button id="deleteLogo" class="delete">Delete Logo</button>
  <button class="done">Done</button>
</OptionsBox>

<script src="../scripts/logo/main.js"></script>
