---
import Modal from "./Modal.vue";
import CardSize from "./CardSize.vue";
import Preview from "./Preview.astro";
---

<Modal label="Options" client:visible>
  <CardSize client:visible />
  <section id="preview">
    <Preview />
  </section>
</Modal>

<style scoped>
  section {
    margin-top: 2rem;
  }
</style>
