---
import Modal from "./Modal.vue";
import CardSize from "./CardSize.vue";
import Preview from "./Preview.vue";

import LogoOptions from "./LogoOptions.astro";
import Font from "./Font.astro";
---

<Modal label="Options" client:visible>
  <section class="options">
    <CardSize client:visible />
    <LogoOptions />
    <Font />
  </section>

  <section class="preview">
    <!-- Reverts to default logo without this directive -->
    <Preview client:visible />
  </section>
</Modal>

<style scoped>
  section.options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  section.preview {
    margin-top: 2rem;
  }
</style>

<style lang="scss" is:global>
  section.options {
    fieldset {
      flex: 1;
    }
  }
</style>
