---
// Components
import CustomFont from "./CustomFont.astro";
import FontSize from "./FontSize.astro";
import LogoInput from "./LogoInput.astro";

// Styles
import "../styles/options.scss";
---

<button id="showOptionsButton" class="a">Options</button>

<div id="optionsDiv" class="parent options-box hidden">
  <div>
    <CustomFont />
    <FontSize />
    <LogoInput />
  </div>

  <button id="closeOptionsButton" class="close">Done</button>
</div>

<!-- Import script -->
<script src="../scripts/options/options.js"></script>

