---
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";

const { pageTitle, prefetch, description } = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <Head pageTitle={pageTitle} description={description} prefetch={prefetch} />
  <body>
    <slot />
    <Footer />
  </body>
</html>
