---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, script, prefetch} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head pageTitle={pageTitle} script={script} prefetch={prefetch}/>
  <body>
    <slot />
    <Footer />
  </body>
</html>
