---
import Head from "@/components/Head.astro";
import Footer from "@/components/Footer.astro";

const { pageTitle, prefetch, description } = Astro.props;
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <Head pageTitle={pageTitle} description={description} prefetch={prefetch} />
  <body>
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr;
  }
</style>
